body {
  text-align: center;
  margin: auto;
  font-family: "Funnel Display", sans-serif;
  transition: background-color 0.5s ease, color 0.5s ease;
  cursor: pointer;
  user-select: none;
}

.bold {
  font-weight: 600;
}

#imgdiv {
  margin: auto;
  margin-top: 25px;
  height: 1000px;
}

#memeImage {
  max-width: 100%;
  height: auto;
}
